CLOUDINARY_CLOUD_NAME=<YOUR CLOUD NAME HERE>
CLOUDINARY_API_KEY=<YOUR API KEY HERE>
CLOUDINARY_API_SECRET=<YOUR API SECRET HERE>
CLOUDINARY_UPLOAD_FOLDER=go-cloudinary

# postgresql
HOST=localhost
PORT=5432
POSTGRESQL_USER=myuser
POSTGRESQL_PASSWORD=mypassword
DBNAME=mydb